@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans');

body{
  background-color: #212121;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Bree Serif', serif;
  font-size: 60px;
  margin-top: 100px;
}

footer{
  padding: 20px 0;
  font-size: larger;
}

/* Navigation Main style */
nav{
  background-color: #fff979;
}

/* Removing margin, padding and list styles from nav ul */
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline-block;
}

nav a{
  display: block;
  color: black;
  font-size: 17px;
  text-decoration: none;
  padding: 14px 20px;
}

nav a:hover{
  background-color: #212121;
  color: white;
}

nav ul ul{
  display: none;
  position: absolute;
}

nav ul li:hover > ul{
  display: inherit;
  background-color: #fffa9b;
}

nav ul ul li{
  display: block;
  width: 134px;
}

.mystyle{
  display: block;
}

button{
  display: none;
}

/* Responsive styles with media query */
@media all and (max-width: 768px){
  nav{
    display: none;
  }

  button{
    display: block;
  }

  h1{
    font-size: 35px;
    margin-top: 0;
  }

  nav ul li{
    display: block;
    border-bottom: 1px solid #ffee5b;
    text-align: center;
  }

  nav ul li:last-child{
    border: none;
  }

  nav ul ul{
    position: static;
  }

  nav ul li:hover ul{
    width: 100%;
  }

  nav ul ul li{
    width: 100%;
  }

  footer{
    display: none;
  }
} /* media query end */
